{% extends 'user-admin/adminbase.html' %}

{% load static %}

{% block content %}
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal"  style="color: black;">Refresh</a></li>
                            </ol>
                            <a href="{% url 'home' %}"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Logout</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->
                <div class="row justify-content-center">
                    <!-- <p class="legend">Legend: &emsp;&emsp;DT -&gt; Decision Tree&emsp;&emsp;SVM -&gt; Support Vector Machine</p> -->
                    <div class="col-lg-4 col-md-12" style="width: 250px;">
                        <div class="white-box analytics-info">
                            <h3 class="box-title" style="font-size: 15px;">Total Number of Poor based on DT</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-success">{{ poor_count_dt }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12" style="width: 250px;">
                        <div class="white-box analytics-info">
                            <h3 class="box-title" style="font-size: 15px;">Total Number of Non-Poor based on DT</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash2"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-purple">{{ non_poor_count_dt }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12" style="width: 250px;">
                        <div class="white-box analytics-info">
                            <h3 class="box-title" style="font-size: 15px;">Total Number of Poor based on SVM</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash4"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-purple">{{ poor_count_svm }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12" style="width: 250px;">
                        <div class="white-box analytics-info">
                            <h3 class="box-title" style="font-size: 15px;">Total Number of Non-Poor based on SVM</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash3"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-info">{{ non_poor_count_svm }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">The most siginificant factors(MLR)</h3>
                            <div class="d-md-flex">
                                <ul class="list-inline d-flex ms-auto">
                                    <li class="ps-3">
                                        <h5><i class="fa fa-circle me-1 text-info"></i>Mac</h5>
                                    </li>
                                    <li class="ps-3">
                                        <h5><i class="fa fa-circle me-1 text-inverse"></i>Windows</h5>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div id="ct-visits" style="height: 405px;">
                                <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                                        class="chartist-tooltip-value">6</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent Comments -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-12 col-lg-8 col-sm-12">
                        <div class="card white-box p-0">
                            <div class="card-body">
                                <h3 class="box-title mb-0">Recent Comments</h3>
                            </div>
                            <div class="comment-widgets">
                                {% for contact in contact_data_set %}
                                    <div class="d-flex flex-row comment-row p-3 mt-0">
                                        <!-- <div class="p-2"><img src="plugins/images/users/varun.jpg" alt="user" width="50" class="rounded-circle"></div> -->
                                        <div class="comment-text ps-2 ps-md-3 w-100">
                                            <h5 class="font-medium">{{ contact.first_name }}</h5>
                                            <span class="mb-3 d-block">{{ contact.message }}</span>
                                            <div class="comment-footer d-md-flex align-items-center">
                                                <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">{{ contact.submission_time|date:"F d, Y" }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="card white-box p-0">
                            <div class="card-heading">
                                <h3 class="box-title mb-0">Message to the Developer</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action="{% url 'submit_developer_contact_form' %}">
                                    {% csrf_token %}
                                    
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    
                                    <div class="form-group mb-4">
                                        <label for="name">Name:</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
                                    </div>
                                    
                                    <div class="form-group mb-4">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                                    </div>
                                    
                                    <div class="form-group mb-4">
                                        <label for="issue">Issue:</label>
                                        <input type="text" class="form-control" id="issue" name="issue" placeholder="Describe the Issue" required>
                                    </div>
                                    
                                    <div class="form-group mb-4">
                                        <label for="message">Message:</label>
                                        <textarea rows="5" class="form-control" id="message" name="message" placeholder="Input A Message Here" style="border: 0.5px solid #00BFD8; width: 280px; height: 200px; box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);" required></textarea>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary" style="margin-left: 2.6cm;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> Copyright © 2023 <a
                 href="{% url 'home' %}">Multidimensional Poverty Analyzer</a> - All rights reserved</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {% endblock content %}