{% extends 'user-admin/adminbase.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Evaluation Data</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="{% url 'household_table' %}" class="fw-normal" style="color: black;" >Refresh</a></li>
                            </ol>
                            <!-- <a href="{% url 'admin_logout' %}"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Logout</a> -->
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

            <div class="card white-box p-0">
                <div class="card-heading" style="background-color:#9ee0fc65; margin-bottom: -1cm;">
                    <h3 style="text-align: center;" class="box-title mb-0">Summary of Evaluation data</h3>
                </div>
                <div class="card-body">
                   
                    
                </div>
            </div>

            <div class="container">
                <canvas id="barChart"></canvas>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title">All of Evaluation Data</h3>
                        <p class="text-muted">You can view here all the data of questions from the evaluation form<code></code></p>
                        <div class="table-responsive">
                            <table class="table text-nowrap" style="border: 1px solid #ddd;">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid #ddd;">ID</th>
                                        <th style="border: 1px solid #ddd;">School Attendance</th>
                                        <th style="border: 1px solid #ddd;">Educational Attainment</th>
                                        <th style="border: 1px solid #ddd;">Hunger</th>
                                        <th style="border: 1px solid #ddd;">Food Consumption</th>
                                        <th style="border: 1px solid #ddd;">Health Insurance</th>
                                        <th style="border: 1px solid #ddd;">Ownership of Assets</th>
                                        <th style="border: 1px solid #ddd;">Toilet Facility</th>
                                        <th style="border: 1px solid #ddd;">Access to Water</th>
                                        <th style="border: 1px solid #ddd;">Access to Electricity</th>
                                        <th style="border: 1px solid #ddd;">House Tenure</th>
                                        <th style="border: 1px solid #ddd;">Housing Material</th>
                                        <th style="border: 1px solid #ddd;">Underemployment</th>
                                        <th style="border: 1px solid #ddd;">Working Children Not in School</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in page_obj.object_list %}
                                    <tr style="border: 1px solid #ddd;">
                                        <td style="border: 1px solid #ddd;">{{ forloop.counter }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi1 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi2 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi3 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi4 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi5 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi6 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi7 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi8 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi9 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi10 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi11 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi12 }}</td>
                                        <td style="border: 1px solid #ddd;">{{ data.indi13 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="container">
                    <div class="row my-5">
                        <div class="col-md-4 ">
                            <p>Page: {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</p>
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                        
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ page_obj.number }}</span>
                                </li>
                        
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                    </li>
                                {% endif %}
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> Copyright © 2023 <a
                href="{% url 'home' %}">Multidimensional Poverty Analyzer</a> - All rights reserved</a>
           </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script>
        // Prepare data for the bar graph
        var labels = ["School Attendance", "Educational Attainment", "Hunger", "Food Consumption", "Health Insurance", "Ownership of Assets", "Toilet Facility", "Access to Water", "Access to Electricity", "House Tenure", "Housing Material", "Underemployment", "Working Children Not in School"];
        var indiYesCounts = [{{ indi1_yes }}, {{ indi2_yes }}, {{ indi3_yes }}, {{ indi4_yes }}, {{ indi5_yes }}, {{ indi6_yes }}, {{ indi7_yes }}, {{ indi8_yes }}, {{ indi9_yes }}, {{ indi10_yes }}, {{ indi11_yes }}, {{ indi12_yes }}, {{ indi13_yes }}];
        var indiNoCounts = [{{ indi1_no }}, {{ indi2_no }}, {{ indi3_no }}, {{ indi4_no }}, {{ indi5_no }}, {{ indi6_no }}, {{ indi7_no }}, {{ indi8_no }}, {{ indi9_no }}, {{ indi10_no }}, {{ indi11_no }}, {{ indi12_no }}, {{ indi13_no }}];

        // Get the canvas element
        var ctx = document.getElementById('barChart').getContext('2d');

        // Create the bar chart
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Deprived',
                    data: indiYesCounts,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)', // Blue color
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }, {
                    label: 'Not Deprived',
                    data: indiNoCounts,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)', // Red color
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

{% endblock content %}

