{% extends 'user-admin/adminbase.html' %}
{% load static %}

{% block content %}
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Households Profile Table</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="{% url 'household_profile_table' %}" class="fw-normal" style="color: black;" >Refresh</a></li>
                            </ol>
                            <!-- <a href="{% url 'admin_logout' %}"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Logout</a> -->
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Households Profile Table</h3>
                            <p class="text-muted">You can view here all the profile data from the evaluation form<code></code></p>
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Number</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Predicted MPI Score</th>
                                            <!-- <th>DT Result</th> -->
                                            <th>Household Classification </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in page_obj.object_list %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'archive' row.id %}" style="background-color: rgb(73, 73, 243); border-color: blue;" class="btn btn-danger">Archive</a>
                                            </td>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ row.first_name }}</td>
                                            <td>{{ row.last_name }}</td>
                                            <td>{{ row.user_number }}</td>
                                            <td>{{ row.user_email }}</td>
                                            <td>{{ row.user_address }}</td>
                                            <td>{{ row.mpi|floatformat:3 }}</td>
                                            <!-- <td>{{ row.dt_result }}</td> -->
                                            <td>{{ row.svm_result }}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row my-5">
                        <div class="col-md-4 ">
                            <p>Page: {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</p>
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                        
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ page_obj.number }}</span>
                                </li>
                        
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                    </li>
                                {% endif %}
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> Copyright © 2023 <a
                href="{% url 'home' %}">Multidimensional Poverty Analyzer</a> - All rights reserved</a>
           </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->


    
{% endblock content %}

