{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin-login.css' %}">
  <title>Reset Password</title>
  <link rel="icon" href="{% static 'images/MDPA-logo.png' %}">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
<div class="ynq_body">
  <div class="ynq_container">
    <div class="ynq_screen">
      <div class="ynq_screen__content">
        <div class="ynq_social-login">
          <h3>Forgot Password</h3>
        </div>
        
        <form class="ynq_login" method="post" action="{% url 'reset_password' %}">
          {% csrf_token %}
          <div class="ynq_login__field" style="margin-top: 1cm;">
              <i class="ynq_login__icon fas fa-user"></i>
              {{ form.as_p }}
          </div>
          <button class="ynq_button ynq_login__submit" style="margin-top: 0.5cm;">
              <span class="ynq_button__text">Send</span>
              <i class="ynq_button__icon fas fa-chevron-right"></i>
          </button>
      </form>

      <a class="btn-solid-lg page-scroll" href="{% url 'loginAcc' %}" style="background-color: black; border-color: black; margin-left: 3cm; margin-top: 1cm;">BACK</a>
      
      {% if messages %}
      <style>
          .messages {list-style: none; padding: 0;}
          .messages p {color: red; margin-bottom: 5px; margin-top: -5.7cm; padding-left: 32px; font-size: 14px; }
      </style>
      <div class="messages">
          {% for message in messages %}
          <p class="{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
          {% endfor %}
      </div>
      {% endif %}
        
      </div>
      <div class="ynq_screen__background">
        <span class="ynq_screen__background__shape ynq_screen__background__shape4"></span>
        <span class="ynq_screen__background__shape ynq_screen__background__shape3"></span>		
        <span class="ynq_screen__background__shape ynq_screen__background__shape2"></span>
        <span class="ynq_screen__background__shape ynq_screen__background__shape1"></span>
      </div>		
    </div>
  </div>
  <div class="copyright" style="background-color:#00bfd892; margin-top: 5cm;">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12" >
                <p class="p-small" style="color: black; font-size: 13px;">Copyright © 2023 <a href="{% url 'home' %}" style="color:black ;">Multidimensional Poverty Analyzer</a> - All rights reserved</p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
  </div> <!-- end of copyright --> 
  <!-- end of copyright -->
</div>
  
  
</body>
<!-- Copyright -->

  <!-- Scripts -->
  <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
  <script src="{% static 'js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
</html>
