{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container" style="margin-top:1.5cm;">
                            <h1 style="font-size: 40px;"><span class="turquoise" style="padding-right: 10px;">Welcome To</span> <br>Poverty Analyzer</h1>
                            <p class="p-large">Feel free to explore our prototype website. It employs a method to determine whether a household is 'poor' or 'not poor.' This gathers and evaluates data to provide precise results.</p>
                            <a class="btn-solid-lg page-scroll" href="#services">DISCOVER</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid"  src="{% static 'images/landingpage.png' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Services -->
    <div id="services" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>What We Can Do?</h2>
                    <p class="p-heading p-large">We used Multiple Linear Regression (MLR), and Support Vector Machines (SVM) on our website to assist barangays in classifying households as poor or non-poor.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="{% static 'images/evaluation.png' %}" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Fill evaluation</h4>
                            <p>In this phase, it is expected that each household designates a respondent who will be responsible for completing the form and answering the questions on the evaluation page</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="{% static 'images/process.png' %}" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Process the data</h4>
                            <p style="padding-bottom: 22px;">Once the respondent has filled in the data or information, it will undergo processing to generate comprehensive results as part of the evaluation."</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="{% static 'images/result.png' %}" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Results</h4>
                            <p style="padding-bottom: 22px;">After the completion of the processing phase, we can classify whether the household is considered as poor or not-poor based on the obtained results.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->

    <!-- About -->
    <div id="about" class="basic-4" style="margin-bottom: -3cm; margin-top: -3cm;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About The Team</h2>
                    <p class="p-heading p-large">Meet the minds behind this website – our awesome developers! They've put their skills to work, making sure your experience here is satisfactory. Take a tour and enjoy what they've crafted for you!</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Team Member -->
                    <div class="team-member" style="padding-top: 0.6cm;">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'images/DeTaza_ID.jpg' %}" alt="alternative">
                        </div> <!-- end of image-wrapper -->
                        <p class="p-large"><strong>Carl Michael De Taza</strong></p>
                        <p class="job-title">Researcher</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/profile.php?id=100011285415841">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="mailto:202080469@psu.palawan.edu.ph">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-google-plus-g fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->
                     <!-- Team Member -->
                     <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'images/Segay_ID (1).jpg' %}" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Devorah Hope Segay</strong></p>
                        <p class="job-title">Researcher</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/devv.289">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="mailto:202080485@psu.palawan.edu.ph">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-google-plus-g fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'images/Sinangote_ID.png' %}" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Sue Sinangote</strong></p>
                        <p class="job-title">Researcher</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/Nooooooiiii">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="mailto:202080201@psu.palawan.edu.ph ">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-google-plus-g fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'images/Tumang_ID.png' %}" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Peter John Tumang</strong></p>
                        <p class="job-title">Researcher</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/peterjohn.tumang">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="mailto:202080207@psu.palawan.edu.ph ">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-google-plus-g fa-stack-1x"></i>
                                </a>
                            </span>
                        </span> <!-- end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->


                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->


    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Us</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Don't hesitate to send us a contact form message</li>
                        <li><i class="fas fa-map-marker-alt"></i>Brgy. Pagkakaisa, Puerto Princesa CIty, Palawan, Philippines</li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1168.8256630785309!2d118.7311789385638!3d9.736978623138015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfil!2sph!4v1701441243671!5m2!1sfil!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    
                    <!-- Contact Form -->
                    <form id="contactForm" name="contactForm"  method="post" action="{% url 'submit_contact_form' %}" data-toggle="validator" data-focus="false" onsubmit="return showPopup()">
                       
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="text" name="first_name" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" name="email" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" name="message" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree with MDPA stated <a href="privacy-policy.html">Privacy Policy</a> 
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button" onclick="return validateContactForm();">SUBMIT MESSAGE</button>
                        </div>
                        <p id="formErrorMessage" style="color: red; display: none;">Please answer all nedeed to fill out before submitting.</p> 
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->


    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
       async function showPopup() {
    event.preventDefault();
    await Swal.fire({
        title: 'Form submitted successfully!',
        icon: 'success',
        timer: 2000,
        showConfirmButton: false,
    });
    document.getElementById('contactForm').submit();
}
    </script>
    <script>
        function validateContactForm() {
            var nameInput = document.getElementById('cname').value;
            var emailInput = document.getElementById('cemail').value;
            var messageInput = document.getElementById('cmessage').value;
        
            if (nameInput.trim() === '' || emailInput.trim() === '' || messageInput.trim() === '') {
                var errorMessage = document.getElementById('formErrorMessage');
                errorMessage.style.display = 'block';
                return false;
            }
        
            return true;
        }
        </script>
{% endblock content %}
