{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Privacy Policy</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

<div style="margin-top: -4cm;" >
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Privacy Content -->
    <div class="ex-basic-2" >
        <div class="container" style="margin-top: -1cm;">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <h3>Private Data We Receive And Collect</h3>
                        <p>MDPA is committed to protecting your privacy and ensuring the security of your personal information. In compliance with the Data Privacy Act of 2012 (Republic Act No. 10173) and its implementing rules and regulations, we would like to inform you about the types of data we collect and how we handle your personal information.</p>
                        <p>When you fill up the evaluation and use our services, we collect personal information, including: Personal Information about you such as:</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled li-space-lg indent">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Full name, email address, address,  and other contact details.</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Information related to communications you send us, such as queries or comments.</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Submitted Information: Data provided via Evaluation.</div>
                                    </li>
                                </ul>
                            </div> <!-- end of col -->

                    
                    <div class="text-container">
                        <h3>Purpose of Data Collection</h3>
                        <p>We collect and process this information for purposes outlined in our Privacy Policy, including but not limited to providing and improving our services, ensuring security, and complying with legal obligations.</p>
                    </div> <!-- end of text-container -->

                    <div class="text-container" style="margin-top: -1cm;">
                        <h3>Your Rights:</h3>
                        <p>As a data subject, you have rights under the Data Privacy Act, including the right to be informed, access, correct, and object to the processing of your personal information.
                         By using our services, you consent to the collection and processing of your personal information as described in this notice and our Privacy Policy. For more information about our data privacy practices, please refer to our full Privacy Policy on our website.</p>
                     
                    </div> <!-- end of text container -->
                                       
                    <a style="margin-top: -1cm;" class="btn-outline-reg back" href="{% url 'home' %}">BACK</a>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->
  

    <!-- Breadcrumbs -->
    <div class="ex-basic-1" style="margin-bottom: -3cm;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->
</div>
</div>

</div>
    <!-- Breadcrumbs -->
  
   
{% endblock content %}